* {
    padding: 0;
    margin: 0;
}
.error {
    color: rgb(192, 10, 10);
}
.border-red {
    border: 1px solid rgb(192, 10, 10)!important;
}
input {
    transition: 0.2s ease;
}
.border-red:focus {
    outline: 1px solid rgb(192, 10, 10)!important;
}

.Career-view-main {
    .container {
        width: 1140px;
        margin: auto;

        .career-content {
            margin: 94px 0;

            box-shadow: 0px 2px 6px 0px;

            .viewform {
                text-align: center;
                line-height: 35px;

                .form-content {
                    text-align: start;
                    padding-top: 21px;
                    .forminput {
                        margin: 9px 0;

                        input {
                            border: 1px solid;
                            width: 95%;
                            padding: 5px 8px;
                            border-radius: 10px;
                        }
                    }
                    .btn {
                        width: 95%;
                        .loading-gif {
                            height: 30px;    
                            margin-left: 10px;
                        }
                        button {
                            display: flex;
                            justify-content: center;
                            place-items: center;
                            width: 100%;
                            height: 42px;
                            background: #bb372a;
                            border: none;
                            font-size: 23px;
                            color: white;
                            border-radius: 10px;
                            margin: 0 0 13px 1px;
                            
                        }
                    }
                }
            }

            .animation-box {}
        }
    }
}